.wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  height: 46px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-s);
  transition: all 0.05s ease-in-out;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.sublabel {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.5;
}

.primary {
  background: var(--clr-100);
  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background: var(--clr-200);
  }
}

.secondary {
  color: var(--clr-white);
  background: var(--clr-black);
  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background: var(--clr-800);
  }
}

.ghost {
  background: none;
  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background: var(--clr-200);
  }
}
