@import "../../styles/variables.scss";

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.total {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
}

.commonList {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.showMore {
  width: 100%;
}
