@import "../../styles/variables.scss";

.wrap {
  display: flex;
  // flex: 1;
  flex-direction: column;
  margin: 16px 40px 0 0;
}

.icon {
  margin-right: 6px;
}

.label {
  font-size: 14px;
  opacity: 0.5;
  margin-bottom: 8px;
}

.valueWrap {
  display: flex;
}

.value {
  font-weight: 700;
  font-size: 20px;
}
