$swithcer-btn-width: 160px;
$outer-padding: 8px;

.wrap {
  position: relative;
  display: flex;
  width: fit-content;
  margin-bottom: 16px;
  padding: $outer-padding;
  border-radius: var(--radius-m);
  background: var(--secondary-dim-clr);
}

.button {
  margin-right: $outer-padding / 2;
  &:last-child {
    margin-right: 0;
  }
}

.back {
  position: absolute;
  z-index: 0;
  width: $swithcer-btn-width;
  height: calc(100% - #{$outer-padding * 2});
  background-color: var(--primary-clr);
  border-radius: var(--radius-s);
}

.inactive {
  pointer-events: none;
}
