.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.form {
  width: 100%;
  height: 80px;
  display: flex;
  border: none;
  padding: 8px;
  background-color: var(--secondary-dim-clr);
  border: 2px solid var(--secondary-dim-clr);
  border-radius: var(--radius-m);
  transition: all 0.1s ease;
  &:hover,
  &:focus-within {
    border: 2px solid var(--secondary-dark-clr);
  }
}

.input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  padding: 0 16px;
  background-color: transparent;
  transition: 0.1s;
  &::placeholder {
    opacity: 0.5;
  }
}

.button {
  cursor: pointer;
  border-radius: calc(var(--radius-m) - 4px);
  background: none;
  padding: 8px 20px;
  border: none;
  outline: none;
  transition: 0.1s;
  &:hover,
  &:focus {
    background-color: var(--secondary-semidark-clr);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
    &:hover,
    &:focus {
      background: transparent;
    }
  }
}

.cross {
  padding: 8px 12px;
  margin-right: 4px;
}

.errorMessage {
  margin-top: 4px;
  padding: 8px 10px;
  background: var(--error-light-clr);
  font-weight: 600;
  border-radius: var(--radius-s);
}

.errorInput {
  border: 2px solid var(--error-clr);
  animation-name: errorAnimation;
  animation-duration: 0.5s;
  &:hover,
  &:focus-within {
    border: 2px solid var(--error-clr);
  }
}

.hidden {
  display: none;
}

@keyframes errorAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px);
  }
  33% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-6px);
  }
  66% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
