@import "../../styles/variables.scss";

.wrap {
  display: flex;
  margin-bottom: 16px;
  width: 100%;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.pluginThumb {
  height: 60px;
  width: 60px;
  border-radius: 16px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
}

.textitem {
  display: flex;
  margin-bottom: 12px;
  span {
    margin-right: 6px;
    opacity: 0.5;
  }
}

.counters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 12px;
}

.counter {
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 8px;
  &Icon {
    margin-right: 8px;
  }
  span {
    line-height: 100%;
    font-size: 14px;
  }
}
