.wrap {
  width: 100%;
  display: flex;
  background: var(--primary-clr);
  padding: 20px;
  overflow-x: scroll;
  margin-top: 32px;
  &::-webkit-scrollbar {
    height: 8px;
    width: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--active-clr);
  }
}

.code {
  color: var(--secondary-clr);
  font-size: 14px;
  font-family: "Monaco", monospace !important;
}
