.wrap {
  width: 100%;
  display: flex;
  background: var(--clr-black);
  padding: 16px;
  overflow-x: scroll;
  margin: 32px 0;
  &::-webkit-scrollbar {
    height: 8px;
    width: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--active-clr);
  }
}

.code {
  color: var(--clr-white);
  font-size: 14px;
  font-family: "Monaco", monospace !important;
}
