.main {
  background-color: var(--secondary-clr);
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.ghButton {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px;
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
  }
  &:hover {
    svg {
      fill: var(--active-clr);
    }
  }
}
