@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.lightTheme {
  --primary-clr: #000;
  --primary-light-clr: rgb(37, 37, 37);
  --secondary-clr: #ffffff;
  --secondary-dim-clr: #f2f2f2;
  --secondary-semidark-clr: #e0e0e0;
  --secondary-dark-clr: #cacaca;
  --active-light-clr: rgba(131, 86, 255, 0.4);
  --active-clr: rgb(105, 55, 245);
  --input-hover-clr: rgba(0, 0, 0, 0.02);

  --chart-1-clr: rgb(0, 0, 0);
  --chart-2-clr: var(--active-clr);
  --chart-3-clr: rgb(240, 66, 133);
  --chart-4-clr: rgb(27, 206, 182);
  --chart-5-clr: rgb(170, 170, 170);

  --error-clr: #f45;
  --error-light-clr: rgb(255, 202, 206);

  --radius-m: 12px;
  --radius-s: 8px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

::selection {
  background-color: var(--active-light-clr);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: none;
  width: 100%;
  height: 2px;
  background: var(--primary-clr);
  margin: 20px 0;
  opacity: 0.2;
}

h1 {
  @include fluid-type($mobile, $desktop, 40px, 60px);
  margin-bottom: 32px;
}

h3 {
  font-size: 20px;
  margin: 8px 0;
}

p {
  font-size: 16px;
  line-height: 140%;
  margin: 8px 0;
}

a {
  color: var(--primary-clr);
  text-decoration: none;
  &:hover {
    color: var(--active-clr);
    text-decoration: underline;
  }
}

.recharts-brush {
}

.recharts-brush-slide {
  fill: var(--primary-clr);
  fill-opacity: 0.1;
}

.recharts-brush-texts {
  display: none;
}

.recharts-brush-traveller {
  rect {
    fill: var(--primary-clr);
  }
}
