@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.lightTheme {
  --clr-white: #ffffff;
  --clr-100: #f5f5f5;
  --clr-200: #e6e6e6;
  --clr-300: #dddddd;
  --clr-400: #afafaf;
  --clr-500: #818181;
  --clr-600: #575757;
  --clr-700: #3b3b3b;
  --clr-800: #252525;
  --clr-900: #1b1b1b;
  --clr-black: #000;

  --active-light-clr: rgba(131, 86, 255, 0.4);
  --active-clr: rgb(105, 55, 245);

  --chart-1-clr: rgb(0, 0, 0);
  --chart-2-clr: var(--active-clr);
  --chart-3-clr: rgb(240, 66, 133);
  --chart-4-clr: rgb(27, 206, 182);
  --chart-5-clr: rgb(170, 170, 170);

  --clr-error: rgba(255, 68, 85, 1);
  --clr-error-100: rgb(255, 224, 226);
  --clr-error-200: rgb(255, 203, 207);
  --clr-error-300: rgb(255, 159, 167);
  --clr-error-400: rgb(255, 132, 142);
  --clr-error-500: rgb(255, 96, 109);

  --radius-m: 12px;
  --radius-s: 8px;
  --radius-xs: 4px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

::selection {
  background-color: var(--active-light-clr);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: none;
  width: 100%;
  height: 2px;
  background: var(--clr-black);
  margin: 20px 0;
  opacity: 0.2;
}

h1 {
  @include fluid-type($mobile, $desktop, 40px, 60px);
  margin-bottom: 32px;
}

h3 {
  font-size: 20px;
  margin: 8px 0;
}

p {
  font-size: 16px;
  line-height: 140%;
  margin: 8px 0;
}

a {
  color: var(--clr-black);
  text-decoration: none;
  &:hover {
    color: var(--active-clr);
    text-decoration: underline;
  }
}

.recharts-brush-slide {
  fill: var(--clr-black);
  fill-opacity: 0.1;
}

.recharts-brush-texts {
  display: none;
}

.recharts-brush-traveller {
  rect {
    fill: var(--clr-black);
  }
}
