.wrap {
  pointer-events: none;
  display: flex;
  width: fit-content;
  margin-bottom: 24px;
  height: 56px;
  box-shadow: inset 0 0 0 2px var(--primary-clr);
  // background: var(--primary-clr);
}

.button {
  width: 120px;
  // transition: all 0.05s ease-in-out;
}

.skewLeft {
  pointer-events: auto;
  transform: skewY(10deg) translateY(-11px);
  &:hover {
    transform: skewY(8deg) translateY(-9px);
  }
}

.skewRight {
  pointer-events: auto;
  transform: skewY(-10deg) translateY(-11px);
  &:hover {
    transform: skewY(-8deg) translateY(-9px);
  }
}
